<div class="container mt-4 bg-secondary">
  <div class="card">
    <div class="card-header">
    <h1 class="text-center border rounded m-3 p-5 bg-dark text-info"> {{title}} </h1>
  </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <a class="btn btn-outline-info btn-sm mx-3" routerLink = "/gitForm" >Search</a>
          <a class="btn btn-outline-info btn-sm mx-3" routerLink = "/gitResult" >See Results</a>
        </div>
      </div>
    </nav>
  
  <router-outlet></router-outlet>